*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Portfolio{
    margin-left: 350px;
    height: 100%;
    width: 75%;
    background-color: #070B28;
    padding: 2% 5%;
}

/* *******************Header*************************/ 
.headerPortfolio{

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        :link{
            text-decoration: none;
        }

        h2, h3{
            color: white;
        }
        h2{
            font: 500 52px Poppins;
        }
    }
    



}


/*****************************project *******************************/
.Project-Portfolio{
    margin-top: 75px;

    .cardsDetails{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 30px;
        
    }
    .cardsData{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 300px;
        height: 200px;

        
        
    }


}