$border: 2px solid;

#Resume{
    margin-left: 350px;
    min-height: 100vh;
    max-height: 1000%;
    width: 75%;
    background-color: #070B28;
    padding: 2% 5%;

    .myskills{

        h2{
            font-size: 32px;
            color: white;
            margin-bottom: 15px;
        }

        .skills{
            
            display: grid;
            grid-template-columns: 40% 40%;
            grid-gap: 15%;
            
            margin-bottom: 30px;
            margin-left: 10%;
            margin: 0 0 50px 10%;
            
            h4{
                color: white;
                font-size: 20px;
            }

        }
        .bars{
            width: 100%;
            background-color: white;
            border-radius: 4px;
        }
        .progress{
            height: 8px;
            background-color: white;
            
        }
        .html{
            width: 80%;
            background-color: blue;
        }
        .css{
            width: 75%;
            background-color: blue;
        }
        .js{
            width: 75%;
            background-color: blue;
        }
        .react{
            width: 70%;
            background-color: blue;
        }

    }
        
    .work-experience{
        width: 100%;

        h2{

            color: white;
        }
    }
    .work-section{
        display: flex;
        margin: 7% 0 7% 10%;
    }
    .timeline{
        border-left: 4px solid #0B122E;
        // background-color: #0B122E;
        // opacity: 50%;
    }
    .work{
        width: 100%;
        display: grid;
        grid-template-columns: 100px 50px auto;
        margin-left: 25px; 
        margin-top: 15px;  
        position: relative;
 
        .date{
            margin-top: 3px;
            font: 400 16px Poppins;
            color: white;
            opacity: 50%;
        }

        .circle{
            position: absolute;
            width: 20px;
            height: 20px;
            margin-top: 5px;
            margin-left: -36.5px;
            background-color: #070B28;

            border: 2px solid white;
            border-radius: 50%;
        }
        .seperator{
            margin-top: 13px;
            width: 50px;
            height: 4px;
            background-color: #0B122E;
        }
        .data{
            margin-left: 15px;
            h2{
                font: 500 22px Poppins;
                color: blue;
            }
            h3{
                font: 400 16px Poppins;
                color: white;   
            }
            p{
                font: 400 14px Poppins;
                color: white;
                opacity: 50%;
            }
        }
        
    }
    

}

@media only screen and (max-width:1200px){
    #Resume{
        margin: 0 25px;
        width: 100%;
    }    
}