#About {
    width: 80%;
    margin: auto;

   .heading{
    font: 400 42px Poppins;
    color: white;
   }
   .sec-one{
       display: flex;
       img{
           width: 200px;
           height: 220px;
       }
   }
}
