#About{
    width: 75%;
    background-color: #070B28;
    padding: 2% 5%;
    
    .section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 80%;
    }
        
    .heading{
        font: 400 52px Poppins;
        color: white;
    }
    .name{
        font: 400 46px Poppins;
        color: white;
    }
    .name span{
        color: blue;
    }
    .description{
        font: 400 20px Poppins;
        color: white;
    }
    .mydata{
        display: flex;
        justify-content: space-between;
    }
    .data{
        display: flex;
        font: 400 22px Poppins;
        color: white;
        margin-bottom: 5px;


    }
    .data h4{
        width: 200px;

    }
    .resume{

        width: 300px;
        height: 60px;

        background-color: #0B122E;
        font: 400 22px Poppins;
        color: white;

        border: none;
        border-radius: 5px;
        
    }
}