#About{
    margin-left: 350px;
    min-height: 100vh;
    max-height: 100%;
    width: 75%;
    background-color: #070B28;
    padding: 2% 5%;
    
    .section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
    }
        
    .heading{
        font: 400 52px Poppins;
        color: white;
    }
    .name{
        font: 400 46px Poppins;
        color: white;
    }
    .name span{
        color: blue;
    }
    .description{
        font: 400 20px Poppins;
        color: white;
    }
    .mydata{
        display: flex;
        justify-content: space-between;
    }
    .data{
        display: flex;
        font: 300 20px Poppins;
        color: white;
        margin-bottom: 5px;


    }
    .data h4{
        width: 200px;

    }
    .seperator{
        height: 100%;
        width: 5px;
        background-color: #0B122E;
    }
    .resume{

        width: 300px;
        height: 60px;

        background-color: #0B122E;
        font: 400 22px Poppins;
        color: white;

        border: none;
        border-radius: 5px;
        

        .question{
            position: absolute;
            margin-left: 10px;
            margin-top: 25px;
            font-size: 14px;            
        
        }
        
    }
    .downloadresume:hover{
        color: blue;
        transition: 0.5s;
    }
    .resume-section p{
        background-color: #0B122E;
        color: white;
        opacity: 50%;
        width: 250px;
        margin-top: 15px;
        padding: 10px;
        border-radius: 5px;
    }
    .hobbies-skills{
        display: flex;
        justify-content: space-between;

        .hobbies, .skills{
            width: 45%  ;
        }
        
        h2{
            color: white;
            margin-bottom: 15px;
        }
        .skillname{
            display: grid;
            grid-template-columns: auto auto auto;
        }
        p{
            background-color: #0B122E;
            color: white;
            font: 400 16px Poppins;
            margin-left: 15px;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
}

@media only screen and (max-width:1200px){
    #About{
        margin: 0 25px;
        width: 100%;
        transition: all 0.5s;
    }    
}

@media only screen and (max-width:1000px){
    #About{
        margin: 0;
        .heading{
            margin: 15px 0;
            font-size: 40px;
        }
        .name{
            font-size: 32px;
            span{
                font-size: 32px
            }
        }
        .description{
            font-size: 16px;
            margin-bottom: 25px;
        }
        .mydata{
            flex-direction: column;
            h4{
                width: 40%;
            }
            .seperator{
                display: none;
            }
            .resume-section{
                margin: 15px 0;
            }
        }
        .data h4, span{
            font-size: 16px;
        }
        .hobbies-skills{
            flex-direction: column;
            

        }
    }   
}