#Home{
    margin-left: 350px;
    width: 75%;
    height: 100vh;
    background-color: #070B28;
    padding: 2% 5%;

    padding-top: 15%;
    text-align: end;

    .name{
        color: white;
        font-size: 46px;
        text-align: end;

        h2{
            font-size: 72px;
        }

    } 
    p{
        font-size: 26px;
        color: white;
    }

}